{
  "root": true,
  "extends": [
    "plugin:vue/essential",
    "@vue/standard"
  ],
  "rules": {
    "quotes": 1,
    "space-before-function-paren": 0,
    "semi": 0,
    "node/no-deprecated-api": 0,
    "no-extend-native": 0,
    "no-return-await": 0,
    "no-new": 0
  }
}