 body span {
     font-size: 12px;
 }
 
 .table {
     margin-bottom: 15px;
 }
 
 .table thead th {
     border-bottom: 0 !important;
 }
 
 .table tbody td, .table tfoot th {
     border-top: 0 !important;
     border-bottom: 0 !important;
 }
 
 .table thead th, .table tbody th {
     line-height: 15px !important;
     vertical-align: middle !important;
 }
 
 .table thead th, .table tbody th, .table tbody td, .table tfoot th {
     text-align: center;
 }
 
 .table tbody th {
     background-color: #000000;
     color: #ffffff;
     text-transform: uppercase;
 }
 
 .table tbody th span {
     display: block;
 }
 
 .table tbody th small {
     font-size: 60%;
 }
 
 .attribute-field {
     width: 50px;
     height: 33px;
     text-align: center;
 }
 
 input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
     /* display: none; <- Crashes Chrome on hover */
     -webkit-appearance: none;
     margin: 0;
     /* <-- Apparently some margin are still there even though it's hidden */
 }
 
 input[readonly] {
     background-color: #ccc;
 }