input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[readonly] {
    background-color: #ccc;
}

.attention {
    background-color: yellow;
}

textarea {
    resize: none;
}

/* Don't allow elements go outside of its boundries */

html {
    box-sizing: border-box;
}

html, button, input, select, textarea, .pure-g [class *="pure-u"] {
    font-family: 'Source Sans Pro', sans-serif !important;
}

*, *:after, *:before {
    box-sizing: border-box;
}