/* Second Page as CSS Grid */

.second-page-container {
    display: grid !important;
    display: -ms-grid !important;
    height: 1300px;
    grid-template-columns: 50% 20% 30%;
    grid-template-rows: 7.5% 18% 10% 18% 18% auto;
    grid-template-areas: "campaign feats spells" "gear feats spells" "protections special-abilities spells" "possessions special-abilities spells" "possessions special-abilities spells-save" "possessions languages spells-save";
}

@media screen and (max-width: 767px) {
    .second-page-container {
        grid-template-columns: 100%;
        grid-template-areas: "campaign" "gear" "protections" "possessions" "feats" "special-abilities" "languages" "spells" "spells-save";
    }
}


/* Campaign */

.campaign-container {
    grid-area: campaign;
}

/* Gear */

.gear-container {
    grid-area: gear;
}

/* Protection */

.protection-container {
    grid-area: protections;
}


/* Possession */

.possessions-container {
    grid-area: possessions;
}


/* Feats */

.feats-container {
    grid-area: feats;
}


/* Special Abilities */

.special-abilities-container {
    grid-area: special-abilities;
}


/* Languages */

.languages-container {
    grid-area: languages;
}


/* Languages */

.spells-container {
    grid-area: spells;
}


/* Spells Save */

.spells-save-container {
    grid-area: spells-save;
}