@import "./variables.scss";
/** 
Text Size
Thanks TailwindCSS.
You should REALLY try this library: https://tailwindcss.com/docs/text-sizing/
**/

.text-2xs {
  font-size: $text-2xs;
}

.text-xs {
  font-size: $text-xs;
}

.text-2sm {
  font-size: $text-2sm;
}

.text-sm {
  font-size: $text-sm;
}

.text-base {
  font-size: $text-base;
}

.text-lg {
  font-size: $text-lg;
}

.text-xl {
  font-size: $text-xl;
}

.text-2xl {
  font-size: $text-2xl;
}

.text-3xl {
  font-size: $text-3xl;
}

.text-4xl {
  font-size: $text-4xl;
}

.text-5xl {
  font-size: $text-5xl;
}

/** Components **/

.dcs {
  &__icon {
    @extend .text-sm;
    display: flex;
    justify-content: center;
    align-items: center;
    width: $skill__icon--width;
  }
  &__check {
    label {
      content: '';
      display: inline-block;
      width: $check--size;
      height: $check--size;
      border: 1px dotted rgba(0, 0, 0, 0.8);
      border-radius: 50%;
      &.checked {
        background-color: black;
      }
    }
  }
}

.group {
  &__header {
    border-bottom: solid 1px $secodary-border__color;
    padding: 5px 0 0 5px;
    span {
      font-size: 13px;
      color: $spells__group__header--color;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
  &__body {
    padding: 5px;
  }
  .group-item {
    padding-top: 5px;
    padding-bottom: 5px;
    
    &__header {
      font-weight: bold;
      font-size: 13px;
    }
    small {
      white-space: nowrap;
      font-style: italic;
      color: $secondary-value__color;
    }
    &__content {
      font-size: 12px;
    }
  }
}