/* theme.scss */
$mdc-theme-primary: #212121;
$mdc-theme-accent: #41b883;
$mdc-theme-background: #fff;

@import './mdc-theme.scss';
@import './components.scss';

body {
  background-color: var(--mdc-theme-background);
}