/** 
Text Size
Thanks TailwindCSS.
You should REALLY try this library: https://tailwindcss.com/docs/text-sizing/
**/

.text-2xs {
  font-size: 0.5rem;
}

.text-xs {
  font-size: 0.675rem;
}

.text-sm {
  font-size: 0.875rem;
}

.text-base {
  font-size: 1rem;
}

.text-lg {
  font-size: 1.125rem;
}

.text-xl {
  font-size: 1.25rem;
}

.text-2xl {
  font-size: 1.5rem;
}

.text-3xl {
  font-size: 1.875rem;
}

.text-4xl {
  font-size: 2.25rem;
}

.text-5xl {
  font-size: 3rem;
}

/** Colors **/
$primary-value__color: #000000;
$secondary-value__color: #838383;