/** Text Sizes **/

$text-2xs: 0.5rem;
$text-xs: 0.675rem;
$text-2sm: 0.75rem;
$text-sm: 0.875rem;
$text-base: 1rem;
$text-lg: 1.125rem;
$text-xl: 1.25rem;
$text-2xl: 1.5rem;
$text-3xl: 1.875rem;
$text-4xl: 2.25rem;
$text-5xl: 3rem;
/** Check Size **/

$check--size: 12px;
/** Colors **/

$primary-value__color: #000000;
$secondary-value__color: #838383;
$secodary-border__color: #eaeaea;
$success_color: #008000;
$spells__group__header--color: #C53131;
$spell__action__cast--color: #C53131;
/** Attacks Variable **/

$attack__icon--width: 10%;
$attack__name--width: 34%;
$attack__range--width: 18%;
$attack__hit--width: 14%;
$attack__damage--width: 24%;
/** Skills Variable **/

$skill__is-class--width: 10%;
$skill__icon--width: 10%;
$skill__name--width: 55%;
$skill__key-ability--width: 15%;
$skill__modifier--width: 10%;
$skill__border-bottom-color: 1px solid #d8d8d8;
/** Spells Variable **/

$spell__action--width: 0%;
$spell__name--width: 30%;
$spell__time--width: 12%;
$spell__range--width: 16%;
$spell__dchit--width: 22%;
$spell__effects--width: 20%;