.sheet-header {
    margin-bottom: 10px;
}

.mission-logo {
    max-width: 388px;
    max-height: 135px;
}

[class*="col-"] {
    padding-left: 2px;
    padding-right: 2px;
}

label {
    margin-bottom: 0;
}

.form-control {
    height: 25px;
    border: 0 solid #fff;
    border-bottom: 1px solid;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 2px;
}

.ability-score-list {
    text-align: center;
}

.ability-score-title {
    font-size: x-small;
    font-weight: bold;
    line-height: 0.9;
    vertical-align: middle;
}

.vitality-score-title {
    text-align: center;
}

.ability-score-square {
    background-color: #000;
    color: #fff;
    font-weight: bold;
    margin-bottom: 2px;
    height: 30px;
    text-align: center;
}

.ability-score-square label {
    font-size: x-small;
    position: relative;
    top: -10px;
}

.ability-score-field-square,
.ability-score-field-square * {
    height: 30px;
    margin-bottom: 2px;
}

.ability-score-field,
.vitality-score-field {
    height: 100%;
    border: 1px solid #000;
}

.vitality-score-field {
    width: 37.9px;
    display: inline;
    margin-right: 2.5px;
    margin-left: 2.5px;
}

.vitality-plus-sign {
    font-size: 21px;
    font-weight: normal;
}

.temporary-scores {
    background-color: #DCDCDC
}

.form-group {
    display: inline-block;
    text-align: center;
}

.form-group label {
    display: block;
}

span.vitality-plus-sign {
    display: inline-block;
    vertical-align: top;
}